 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="utf-8">
     <title>email ejs template</title>
 </head>
 <body>
 <h1>Welcom !! <%= name %> </h1>
 <p>your order is <%= id %></p>

 </body>
 </html>